# --- Directorios de Gradle y Compilación ---
.gradle
build/
target/
bin/
out/
.kotlin/

# --- Archivos de configuración de IDEs ---
.idea
*.iws
*.iml
*.ipr
.vscode/
.classpath
.project
.settings
.factorypath

# --- Específico de VE ABSOLUTA (Backend) ---
/uploads/
*.log

# --- SECCIÓN IA (IMPORTANTE) ---
# Ignoramos los datasets pesados (4GB+)
ai_engine/datasets/

# Ignoramos el modelo pesado (GitHub no permite archivos >100MB fácilmente)
# Este lo pasas por Google Drive
ai_engine/models/*.pth

# --- SECCIÓN PYTHON ---
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/.venv/
**/venv/
**/env/

# --- Otros ---
.DS_Store
HELP.md